@import "../../styles/mixins.scss";
$main-color: #01b5e8;
$main-background-color: rgba(5, 5, 5, 0.733);
$main-color-hover: rgba(5, 5, 5, 0.842);
$font-size-smaller: 1.3rem;
$font-size-small: 1.8rem;
$font-size-normal: 2.8rem;
$font-size-normal-title: 4rem;
$font-size-big: 6.5rem;
$font-size-bigger: 10rem;

.chatpanelContainer {
  display: grid;
  grid-template-columns: minmax(30rem, 40rem) minmax(40rem, 65rem);
  grid-template-rows: 7rem 40rem;
  align-content: center;
  box-shadow: rgba(51, 51, 51, 0.527) 0px 2px 8px 0px;

  @include desktop {
    grid-template-columns: minmax(30rem, 40rem) minmax(40rem, 65rem);
    grid-template-rows: 7rem 40rem;
  }
  @include laptop {
    grid-template-columns: minmax(20rem, 30rem) minmax(30rem, 45rem);
    grid-template-rows: 7rem minmax(28rem, 35rem);
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
  }
  @include mobile {
    display: flex;
    flex-direction: column;

    width: 80%;
    height: 80%;
  }
}
