@import "../styles/mixins.scss";
$main-color: #0538afda;
$main-color-hover: #01b5e8;
$main-background-color: rgb(255, 253, 253);
$font-color: rgb(255, 253, 253);
$font-size-normal: 1.8rem;

.optionBar {
  background-color: $main-color;
  color: $font-color;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(75%, 100%);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  z-index: 101;
  font-size: $font-size-normal;
  padding: 1rem;
  border: 1px solid $main-background-color;
  @include desktop {
  }
  @include laptop {
  }
  @include tablet {
    left: 0;
    right: auto;
    bottom: 0;
  }
  @include mobile {
    left: 0;
    right: auto;
    bottom: 0;
  }
}
.optionLink {
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 3px;
  &:hover {
    background-color: $main-color-hover;
    cursor: pointer;
  }
}
