$main-background-color: #0538af96;
$main-color-hover: #01b5e8;
$main-color: rgb(255, 253, 253);
$font-size-normal: 1.8rem;
@import "../styles/mixins.scss";
.navContainer {
  display: flex;
  height: 6rem;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient($main-background-color, $main-color-hover);
  width: 100%;
  color: $main-color;
  position: fixed;

  @include desktop {
  }
  @include laptop {
  }
  @include tablet {
  }
  @include mobile {
  }

  .linkContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;

    .imgAvatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid $main-background-color;
    }

    .spanAvatar {
      font-size: $font-size-normal;
      font-weight: 500;
    }

    .optionButton {
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        background-color: $main-color;
        color: $main-background-color;
      }
    }
    .link {
      font-size: 2rem;
      font-weight: 500;
      @include laptop {
        font-size: 2rem;
        font-weight: 500;
      }
      @include tablet {
        font-size: 1.8rem;
        font-weight: 500;
      }
      @include mobile {
        display: none;
      }
      &:hover {
        color: $main-color-hover;
      }
    }
  }
}
