@import "../../../styles/mixins.scss";

$main-backgorund-color: #0538af69;
$main-color-hover: #01b5e8;
$main-font-color: rgb(255, 253, 253);
$main-placeholder-color: rgb(190, 187, 187);
$font-size-small: 1.2rem;
$font-size-normal: 1.8rem;
$font-size-big: 2.2rem;

.chatwindowContainer {
  display: flex;
  backdrop-filter: blur(15px);
  backdrop-filter: brightness(20%);
  background-color: $main-backgorund-color;
  border-bottom-right-radius: 5px;
  flex-direction: column;
  overflow: hidden;

  @include desktop {
  }
  @include laptop {
  }
  @include tablet {
    order: 3;
    height: 100%;
  }
  @include mobile {
    order: 3;
    height: 100%;
  }
}
