.accountPanelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(152, 175, 250);
  border-radius: 5px;
  span {
    color: blue;
    cursor: pointer;
  }
  span:hover {
    text-decoration: underline;
  }
  p {
    color: white;
  }
}

.signinContainer {
  .inputContainer {
    display: flex;
    flex-direction: column;
  }
  h3 {
    color: rgb(152, 175, 250);
  }
  .label {
    display: flex;
    color: rgb(152, 175, 250);
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;
    width: 45%;
    cursor: pointer;
    &:hover {
      color: rgb(82, 112, 212);
    }
  }
  .labelError {
    color: red;
    font-size: small;
    font-weight: 300;
  }
  .input {
    padding: 0.3rem;
    outline-style: none;
  }
  .inputError {
    padding: 0.3rem;
    background-color: rgba(160, 57, 57, 0.363);
    outline-style: none;
    border: 1px solid red;
  }
  button {
    color: white;
    background-color: rgb(152, 175, 250);
    padding: 0.4rem;

    border-radius: 3px;
    font-size: medium;
    border: none;
    &:hover {
      background-color: rgb(82, 112, 212);
    }
  }

  background-color: white;
  border-radius: 4px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
