@import "../../styles/mixins.scss";

$font-size-small: 1.2rem;
$font-size-normal: 1.6rem;
$font-size-big: 2.2rem;

.imageLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem;
  outline-style: none;
  font-size: $font-size-normal;
  font-weight: 500;

  @include desktop {
  }
  @include laptop {
    font-size: $font-size-small;
  }
  @include tablet {
    font-size: $font-size-small;
  }
  @include mobile {
    font-size: $font-size-small;
  }
  .imageRegister {
    width: 55px;
    height: 55px;
  }
  .nameFile {
    overflow: hidden;
    max-width: 15rem;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    padding-left: 0.5rem;
  }
}
