@import "../../../../styles/mixins.scss";
$main-backgorund-color: #0539af;
$main-color-hover: #01b5e8;
$main-font-color: rgb(255, 253, 253);
$main-placeholder-color: rgba(15, 15, 15, 0.568);
$font-size-small: 1.2rem;
$font-size-normal: 1.8rem;
$font-size-big: 2.2rem;

.listchatContainer {
  flex: 6;
  padding: 0.3rem;
  overflow-y: scroll;
  @include desktop {
    font-size: $font-size-small;
  }
  @include laptop {
    font-size: $font-size-small;
  }
  @include tablet {
    min-height: 15rem;
    font-size: $font-size-small;
  }
  @include mobile {
    min-height: 15rem;
    font-size: $font-size-small;
  }

  .listChat {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
