@import "../styles/mixins.scss";
$main-color: #01b5e8;
$main-background-color: rgba(5, 5, 5, 0.733);
$main-color-hover: rgba(5, 5, 5, 0.842);
$font-size-smaller: 1.3rem;
$font-size-small: 1.8rem;
$font-size-normal: 2.8rem;
$font-size-normal-title: 4rem;
$font-size-big: 6.5rem;
$font-size-bigger: 10rem;

.containerHome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $main-background-color;

  gap: 2rem;
  width: 100%;
  height: 100%;

  .descriptionLayout {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .descriptionText {
      font-size: $font-size-small;
      font-weight: 600;
      margin: 7rem;
      color: $main-color;
      @include desktop {
        font-size: $font-size-normal;
        font-weight: 700;
      }
      @include laptop {
        font-size: $font-size-small;
        font-weight: 600;
      }
      @include tablet {
        font-size: $font-size-smaller;
        font-weight: 600;
      }
      @include mobile {
        font-size: $font-size-smaller;
        font-weight: 600;
      }
    }

    .descriptionTitle {
      color: $main-color;
      font-size: $font-size-big;
      font-weight: 700;
      @include desktop {
        font-size: $font-size-bigger;
        font-weight: 600;
      }
      @include laptop {
        font-size: $font-size-big;
        font-weight: 600;
      }
      @include tablet {
        font-size: $font-size-normal-title;
        font-weight: 600;
      }
      @include mobile {
        font-size: $font-size-normal;
        font-weight: 600;
      }
    }
    .button {
      padding: 1rem;
      color: $main-color;
      border-radius: 5px;
      font-size: $font-size-normal;
      font-weight: 600;
      background-color: transparent;
      border: 3px solid $main-color;
      @include desktop {
        font-size: $font-size-big;
        font-weight: 700;
        padding: 1rem;
      }
      @include laptop {
        font-size: $font-size-normal-title;
        font-weight: 500;
        padding: 1rem;
      }
      @include tablet {
        font-size: $font-size-normal;
        font-weight: 400;
        padding: 1rem;
      }
      @include mobile {
        font-size: $font-size-normal;
        font-weight: 400;
        padding: 1rem;
      }
      &:hover {
        cursor: pointer;
        scale: 1.01;
        background-color: $main-color-hover;
      }
    }
  }
}
