@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin latop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.containerHome {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(107, 134, 223);
  padding: 1rem;
  border-radius: 3px;
  @include latop {
    flex-direction: column;
  }

  .description {
    color: white;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 20rem;
    .button {
      padding: 0.3rem;
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 400;
      background-color: rgb(17, 76, 143);

      &:hover {
        background-color: rgb(61, 89, 182);
      }
    }
  }
  .imagen {
    img {
      height: 35rem;
      border-radius: 5px;
      @include latop {
        height: 15rem;
      }

      @include tablet {
        height: 10rem;
      }

      @include mobile {
        height: 7rem;
      }
    }
  }
}
