@import "../../../styles/mixins.scss";

$main-backgorund-color: #0539af;
$main-color-hover: #01b5e8;
$main-font-color: rgb(255, 253, 253);
$main-placeholder-color: rgb(190, 187, 187);
$font-size-small: 1.2rem;
$font-size-normal: 1.8rem;
$font-size-big: 2.2rem;

.userContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: $font-size-normal;
  background: linear-gradient($main-backgorund-color, $main-color-hover);
  color: $main-font-color;
  border-top-left-radius: 5px;
  padding: 0.3rem;
  @include desktop {
  }
  @include laptop {
  }
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}
