@import "../../../styles/mixins.scss";
$main-backgorund-color: #073fc46c;
$main-color-hover: #08080869;
$main-font-color: rgb(255, 253, 253);
$main-placeholder-color: rgba(190, 187, 187, 0.397);
$font-size-small: 1.2rem;
$font-size-normal: 1.8rem;
$font-size-big: 2.2rem;
.listContact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.3rem;
  max-width: 100%;
  overflow-y: scroll;
  @include desktop {
  }
  @include laptop {
  }
  @include tablet {
    height: 8rem;

    width: 100%;
  }
  @include mobile {
    height: 8rem;
    overflow-y: scroll;
    width: 100%;
    gap: 0.5rem;
  }

  .chat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    padding: 0.3rem;
    display: flex;
    gap: 1rem;
    background-color: transparent;
    &:hover {
      background-color: $main-color-hover;
      border-radius: 5px;
    }

    .lastChat {
      padding: 1rem 0 0 1rem;
      font-size: small;
      overflow-x: hidden;
      text-wrap: nowrap;
      width: 30rem;
      @include desktop {
        width: 30rem;
      }
      @include laptop {
        width: 22rem;
      }
      @include tablet {
        width: 20rem;
      }
      @include mobile {
        width: 20rem;
      }
    }
  }
  .chat.activeChat {
    background: linear-gradient($main-color-hover, $main-placeholder-color);
    color: $main-font-color;
    border-radius: 5px;
  }
}
