@import "../../../styles/mixins.scss";
$main-backgorund-color: #0539af;
$main-color-hover: #01b5e8;
$main-font-color: rgb(255, 253, 253);
$main-placeholder-color: rgb(190, 187, 187);
$font-size-small: 1.2rem;
$font-size-normal: 1.8rem;
$font-size-big: 2.2rem;

.contactsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background: linear-gradient($main-color-hover, $main-backgorund-color);
  color: $main-backgorund-color;
  border-bottom-left-radius: 5px;
  padding: 0.4rem 0.7rem 1.7rem 0.7rem;
  gap: 1rem;

  @include desktop {
  }
  @include laptop {
  }
  @include tablet {
    order: 1;
    margin-bottom: 0.5rem;
  }
  @include mobile {
    order: 1;
    margin-bottom: 0.5rem;
  }

  .lineUserslist {
    width: 100%;
    color: $main-backgorund-color;
    @include desktop {
    }
    @include laptop {
    }
    @include tablet {
    }
    @include mobile {
    }
  }
}
