$main-background-color: #0539af;
$main-color-hover: #01b5e8;
$main-color: rgb(243, 241, 241);
$font-size-normal: 1.8rem;
$font-size-small: 1.6rem;
$font-size-big: 2rem;
@import "./styles/mixins.scss";
.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.479);
}
