@import "../../../../styles/mixins.scss";
$main-backgorund-color: #0539af;
$main-color-hover: #01b5e8;
$main-font-color: rgb(255, 253, 253);
$main-placeholder-color: rgb(190, 187, 187);
$font-size-small: 1.2rem;
$font-size-normal: 1.8rem;
$font-size-big: 2.2rem;
.searchContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: $font-size-normal;
  @include desktop {
  }
  @include laptop {
  }
  @include tablet {
    min-width: 100%;
  }
  @include mobile {
  }

  .searcherInput {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;
    padding: 0.5rem;
    position: relative;
    @include desktop {
    }
    @include laptop {
    }
    @include tablet {
    }
    @include mobile {
    }
  }
}
