@import "../../../../styles/mixins.scss";
$main-backgorund-color: #0f0f0f4b;
$main-color-hover: #01b5e8;
$main-font-color: rgb(255, 253, 253);
$main-placeholder-color: rgb(190, 187, 187);
$font-size-small: 1.2rem;
$font-size-normal: 1.8rem;
$font-size-big: 2.2rem;

.searchLayout {
  display: flex;
  align-items: center;

  padding: 0.3rem;
  background-color: $main-backgorund-color;
  border-radius: 5px;
  position: relative;

  @include desktop {
  }
  @include laptop {
  }
  @include tablet {
  }
  @include mobile {
  }
  &:hover {
    cursor: pointer;
  }
  .closeButton {
    position: absolute;
    right: 2px;
    top: 2px;
    color: $main-font-color;

    @include desktop {
      width: 25px;
      height: 25px;
    }
    @include laptop {
      width: 22px;
      height: 22px;
    }
    @include tablet {
      width: 22px;
      height: 22px;
    }
    @include mobile {
      width: 22px;
      height: 22px;
    }
    &:hover {
      cursor: pointer;
      color: $main-backgorund-color;
    }
  }
}
